<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sh.model.dao.InboundMapper">
    <insert id="approveInbound" useGeneratedKeys="true" keyProperty="inboundID">
        <!-- insert into
        tbl_menu
        values (
        null, #{menuName}, #{menuPrice}, #{categoryCode}, #{orderableStatus}
        )
        -->
    </insert>
    <insert id="insertInboundToGBG" useGeneratedKeys="true" keyProperty="inboundDto">
        <!-- insert into
        tbl_menu
        values (
        null, #{menuName}, #{menuPrice}, #{categoryCode}, #{orderableStatus}
        )
        -->
    </insert>
    <update id="updateInboundCnt">
<!--        update-->
<!--        tbl_menu-->
<!--        set-->
<!--        menu_name = #{menuName},-->
<!--        menu_price = #{menuPrice},-->
<!--        category_code = #{categoryCode},-->
<!--        orderable_status = #{orderableStatus}-->
<!--        where-->
<!--        menu_code = #{menuCode}-->
    </update>
    <select id="findAllCategory" resultType="categoryDto">
<!--        select-->
<!--        *-->
<!--        from-->
<!--        tbl_category-->
<!--        where-->
<!--        ref_category_code is not null-->
    </select>
    <!--
    <select id="findMenuOrderable" resultType="menuDto">
        select
        *
        from
        tbl_menu
        where
        orderable_status = 'Y'
    </select>
    <select id="findMenuOrderableByCategoryCode" resultType="menuDto">
        select
        *
        from
        tbl_menu
        where
        category_code = #{categoryCode}
        and orderable_status = 'Y'
    </select>
    -->
</mapper>