<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sh.model.dao.FactoryMapper">
    <resultMap id="FactoryDtoResultMap" type="com.sh.model.dto.json.InbJsonDto">
        <result property="sellerName" column="FAC_ITEM_SELLER_NM"/>
        <result property="sellerLoc" column="SEL_LOC"/>
        <result property="factoryName" column="FAC_NAME"/>
        <result property="factoryLoc" column="FAC_LOC"/>
        <result property="cat" column="ITEM_CAT"/>
        <result property="itemName" column="ITEM_NM"/>
        <result property="vol" column="ITEM_VOL"/>
        <result property="price" column="ITEM_PRICE"/>
        <result property="itemCount" column="ITEM_CNT"/>
        <result property="expirationDate" column="ITEM_EXP"/>
        <!-- itemsDetail에 대한 컬렉션 매핑 -->
        <collection property="itemsDetail" ofType="com.sh.model.dto.json.InbDetailJsonDto">
            <result property="itemSerialNum" column="ITEM_SIRIAL"/>
            <result property="state" column="ITEM_STATE"/>
        </collection>
    </resultMap>

    <select id="searchFactory" resultMap="FactoryDtoResultMap">
        <![CDATA[
        SELECT
            facItem.FAC_ITEM_SELLER_NM,
            facItem.SEL_LOC,
            facItem.FAC_NAME,
            facItem.FAC_LOC,
            facItem.ITEM_CAT,
            facItem.ITEM_NM,
            facItem.ITEM_VOL,
            facItem.ITEM_PRICE,
            facItem.ITEM_CNT,
            facItem.ITEM_EXP,
            facDetail.ITEM_SIRIAL,
            facDetail.ITEM_STATE
        FROM
            FAC_ITEM_TB facItem
        JOIN
            FAC_ITEM_DETAIL_TB facDetail ON facItem.FAC_ITEM_PK = facDetail.FAC_ITEM_PK
        ]]>
    </select>
</mapper>
