<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sh.model.dao.OutboundMapper">

    <select id="selectItems" resultType="com.sh.model.dto.OutItemDetailDto">
        SELECT * FROM OUT_ITEM_DETAIL_TB WHERE ITEM_NM = #{itemNM}
    </select>

    <select id="checkItemCount" resultType="int">
        SELECT COUNT(*) FROM ITEM_DETAIL_TB WHERE ITEM_PK IN (
        SELECT ITEM_PK FROM ITEM_TB WHERE ITEM_NM = #{itemNM}
        ) AND ITEM_DETAIL_STATUS != 0
    </select>

    <select id="selectForDeleteItemDetail" resultType="long">
        SELECT ITEM_DETAIL_PK
        FROM ITEM_DETAIL_TB
        LEFT JOIN ITEM_TB ON ITEM_DETAIL_TB.ITEM_PK = ITEM_TB.ITEM_PK
        WHERE ITEM_TB.ITEM_NM = #{itemNM}
        ORDER BY ITEM_DETAIL_EXPIRATION_DT, ITEM_DETAIL_SERIAL_NUM
        LIMIT 1;

    </select>

    <delete id="deleteCNTItemDetailTB">
        DELETE FROM ITEM_DETAIL_TB
        WHERE ITEM_DETAIL_PK = #{itemDetailPk}
    </delete>


    <insert id="createOutbItemDetailTB">
        INSERT INTO OUT_ITEM_DETAIL_TB (ITEM_STATE_, ITEM_PK, ITEM_EXPIRATION_DT, ITEM_DETAIL_SERIAL_NUM, OUT_CART_PK)
        SELECT ITEM_DETAIL_STATUS, ITEM_PK, ITEM_DETAIL_EXPIRATION_DT, ITEM_DETAIL_SERIAL_NUM, #{cartPk}
        FROM ITEM_DETAIL_TB
        WHERE ITEM_PK = (
        SELECT ITEM_PK FROM ITEM_TB WHERE ITEM_NM = #{itemNM}
        ) AND ITEM_DETAIL_STATUS != 0
        ORDER BY ITEM_DETAIL_EXPIRATION_DT, ITEM_DETAIL_SERIAL_NUM
        LIMIT #{itemCNT}
    </insert>


    <insert id="createOutbTB">
        INSERT INTO OUTB_TB (CUS_FK, ORDER_DT) VALUES (
        (SELECT CUS_PK FROM CUS_TB WHERE CUS_NM = #{customerNM}),
        #{NowDay}
        )
    </insert>


    <insert id="createOutbDetailTB">
        INSERT INTO OUTB_DETAIL_TB (OUTB_DETAIL_PK,OUTB_FK, ITEM_NM, OUTB_PICKING_CNT)
        VALUES (
        null,
        #{outbPk},
        #{itemNM},
        #{itemCNT}
        )
    </insert>


    <insert id="createOutbCartTB">
            INSERT INTO OUT_CART_TB (OUT_CART_PK, OUTB_DETAIL_FK, OUTB_CART_CNT)
            VALUES (null, #{OutDetailPk}, #{itemCNT})
    </insert>

</mapper>