<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sh.model.dao.LocateMapper">
    <select id="searchLpn" resultType="locateDto">
        SELECT
            *
        FROM
            LOCATE_TB
        WHERE
            WHS_PK = #{whs_pk}
          AND
            LOCATE_ITEM_CNT = 0
        ORDER BY
            LOCATE_LPN_CODE
    </select>

    <select id="searchItemLpn" resultType="locateDto">
        SELECT
            *
        FROM
            LOCATE_TB LT JOIN ITEM_DETAIL_TB IDT
                ON LT.LOCATE_PK = IDT.LOCATE_PK
        WHERE
            ITEM_PK = #{itemPk}
    </select>

    <select id="searchItemDetailLpn"  resultType="locateDto">
        SELECT
        *
        FROM
        LOCATE_TB LT JOIN ITEM_DETAIL_TB IDT
        ON LT.LOCATE_PK = IDT.LOCATE_PK
        WHERE
        ITEM_DETAIL_PK = #{itemDetailPk}
    </select>
</mapper>