<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sh.model.dao.SupervisionMapper">
    <select id="searchItemInfo" resultType="itemDto">
        select
            *
        from
            item_tb it right join item_detail_tb idt
                using (ITEM_ID_PK)
    </select>

    <select id="searchItemCnt" resultType="int">
        select
            count(*)
        from
            item_tb it right join item_detail_tb idt
                using (ITEM_ID_PK)
        where
            it.item_nm = #{itemNm}
    </select>
    
    <insert id="insertItem" useGeneratedKeys="true" keyProperty="itemIdPk">
        insert into
            item_tb
        values (
            null, #{itemNm}, #{itemCat}, #{itemVol}
        )
    </insert>

    <insert id="insertDetailItem" useGeneratedKeys="true" keyProperty="itemDetailPk">
        insert into
            item_detail_tb
        values (
            null, #{itemIdPk}, #{itemDetailStatus}, #{locateIdPk}, #{itemDetailExpirationDt}, #{itemDetailSerialNum}
        )
    </insert>
    
    <select id="searchItemCat" resultType="int">
        select
            count(*)
        from
            item_cat_tb
        where
            item_cat_nm = #{itemCatNm}
    </select>

    <!-- useGeneratedKeys=true를 통해 auto_increment값을 가져온다. 전달된 객체 menuDto#menuCode에 대입 -->
    <!-- keyProperty가 직접 넣어주는 것이 아니라 setMenuCode를 사용하여 값 대입 -->

    <insert id="insertCatItem" useGeneratedKeys="true" keyProperty="itemCatPk">
        insert into
            item_cat_tb
        values (
            null, #{itemCatNm}
        )
    </insert>

<!--    <insert id="insertCatItem" useGeneratedKeys="true" keyProperty="itemCatPk">-->
<!--        INSERT INTO item_cat_tb (ITEM_CAT_NM)-->
<!--        VALUES (#{itemCatNm})-->
<!--    </insert>-->
</mapper>