<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sh.model.dao.SupervisionMapper">
    <select id="searchiteminfo" resultType="searchitemdto">
        SELECT
            *
        FROM
            ITEM_TB IT RIGHT JOIN ITEM_DETAIL_TB IDT
                USING (ITEM_PK)
    </select>

    <select id="searchItemCnt" resultType="int">
        select
            COUNT(*)
        from
            ITEM_TB IT RIGHT JOIN ITEM_DETAIL_TB IDT
                USING (item_pk)
        where
            it.ITEM_PK = #{itempk}
    </select>

    <select id="searchItemIdNNm" resultType="itemDto">
        SELECT
            *
        FROM
            ITEM_TB
    </select>

    <insert id="insertItem" useGeneratedKeys="true" keyProperty="itemPk">
        INSERT INTO
            ITEM_TB
        VALUES
            <foreach collection="list" item="item" separator=",">
                (null, #{item.itemNm}, #{item.itemVol}, #{item.itemCatPk})
            </foreach>
    </insert>

    <insert id="insertDetailItem" useGeneratedKeys="true" keyProperty="itemDetailPk">
        INSERT INTO
            ITEM_DETAIL_TB
        values (
            null, #{itemDetailSerialNum}, #{itemPk}, #{itemDetailStatus}, #{locatePk}, #{itemDetailExpirationDt}
        )
    </insert>

    <select id="searchItemCat" resultType="int">
        SELECT
            COUNT(*)
        FROM
            ITEM_CAT_TB
        WHERE
            ITEM_CAT_NM = #{itemCatNm}
    </select>

    <insert id="insertCatItem" useGeneratedKeys="true" keyProperty="itemCatPk">
        INSERT INTO
            ITEM_CAT_TB
        values
            <foreach collection="list" item="item" separator=",">
                (null, #{item.itemCatNm})
            </foreach>
    </insert>

    <select id="searchDefItem" resultType="itemDetailDto">
        SELECT
            *
        FROM
            ITEM_DETAIL_TB
        WHERE
            ITEM_DETAIL_STATUS in (2, 3)
        or
            <![CDATA[
                datediff(ITEM_DETAIL_EXPIRATION_DT, now()) < 60;
            ]]>
    </select>

<!--    <select id="searchItemTb" resultType="itemDto">-->
<!--        select-->
<!--            *-->
<!--        from-->
<!--            item_tb-->
<!--        where-->
<!--            item_id_pk in-->
<!--            <foreach collection="list" item="itemId" open="(" separator="," close=")">-->
<!--                #{itemId}-->
<!--            </foreach>-->
<!--    </select>-->

<!--    <insert id="insertGbg">-->
<!--        insert into-->
<!--            gbg_tb-->
<!--        values (-->
<!--            #{gbgPk}, #{itemNm}, #{ItemVol}, #{itemCatPk}-->
<!--        )-->
<!--    </insert>-->

    <insert id="insertGbgDetail" useGeneratedKeys="true" keyProperty="gbgDetailPk">
        INSERT INTO
            GBG_DETAIL_TB
        VALUES (
            null, #{itemPk}, #{itemState}, #{gbgSerialNum}
        )
    </insert>

    <delete id="deleteDetailItem">
        DELETE FROM
            ITEM_DETAIL_TB
        WHERE
            item_detail_pk = #{itemDetailPk}
    </delete>

    <select id="searchCheckItemNm" resultType="int">
        SELECT
            COUNT(*)
        FROM
            ITEM_TB
        WHERE
            ITEM_NM = #{itemNm}
    </select>

    <select id="searchItemId" resultType="long">
        SELECT
            ITEM_PK
        FROM
            ITEM_TB
        WHERE
            ITEM_NM = #{itemNm}
    </select>

    <select id="searchSameItemLpn" resultType="locateDto">
        SELECT
            *
        FROM
            ITEM_DETAIL_TB IDT LEFT JOIN LOCATE_TB LT
                USING (LOCATE_PK)
        where
            ITEM_PK = #{itemPk}
    </select>
    
    <update id="updareLocateCnt" parameterType="map">
        update
            LOCATE_TB
        set
            locate_item_cnt = locate_item_cnt + #{itemCnt}
        where
            locate_lpn_code = #{locateLpnCode}
    </update>

    <select id="searchWhsLoc" resultType="int">
        select
            whs_pk
        from
            WHS_TB WT
        where
            (select LOC_NM from LOC_TB where LOC_PK = WT.LOC_PK) = #{facLoc}
    </select>
</mapper>